<div class="container mt-6">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centerd">Password Generator</h1>
      <div class="field">
          <label>Length</label><br/>
          <input class="input" type="text" (input)="onChangeLength($any($event.target).value)"  />
      </div>
      <div class="filed">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeLatter()">
            Use Latter
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeNumbers()">
            Use Numbers
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeSymbols()">
            Use Symbols
          </label>
        </div>
        <button [disabled]="!(length && includeNumbers || includeLatters || includeSymbols)"
        (click)="onButtonClick()" class="button is-link is-fullwidth">Generate!</button>

        <div class="box" *ngIf="password">
          <label>Your Password</label>
          <input class="input" [value]="Password()" type="text">
        </div>
      </div>
    </div>
  </div>
</div>

